test
target
.DS_Store
TODO
*.swp
.settings
.project
.classpath
*.class
.idea
*.iml

# Idea files
.idea
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
doc

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
