<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<title>XPipeConsole</title>

<link rel="stylesheet" href="./vendor/css/bootstrap.min.css" />
<link rel="stylesheet" href="./vendor/css/font-awesome.min.css" />
<link rel="stylesheet" href="./vendor/css/ace-fonts.css" />
<link rel="stylesheet" href="./vendor/css/ace.min.css" id="main-ace-style" />
<link rel="stylesheet" href="./vendor/css/ace-part2.min.css" />
<link rel="stylesheet" href="./vendor/css/ace-skins.min.css" />
<link rel="stylesheet" href="./vendor/css/ace-rtl.min.css" />
<link rel="stylesheet" href="./vendor/css/ace-ie.min.css" />
<link rel="stylesheet" href="./vendor/angular/angular-toastr.min.css" />
<link rel="stylesheet" href="./vendor/css/ng-table.min.css" />

<!-- page specific plugin styles -->
<link rel="stylesheet" href="./vendor/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="./vendor/css/chosen.css" />

	<link rel="stylesheet" href="styles/commons.css" />
	<link rel="stylesheet" href="styles/customized.css" />
	<link rel="stylesheet" href="./vendor/angular/angular-material.min.css">
</head>

<body class="no-skin">
	<ul>
		<li>
	<div id="navbar" class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-container" id="navbar-container">
			<div class="navbar-header pull-left">
				<span class="navbar-brand"> 
				<small>
						<i class="ace-icon fa fa-cogs" style="margin-left: -10px"></i> 
						XPipe Console
				</small>
				</span>
			</div>

			<div class="navbar-buttons navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">
					<li class="orange">
						<a ui-sref="dc_list({dcName:''})" title="DC列表">
							<i class="ace-icon fa fa-archive"></i> <span>DC列表</span>
						</a>
					</li>
					<li class="orange">
						<a ui-sref="appliercontainer_list({})" title="ApplierContainer列表">
							<i class="ace-icon fa fa-list"></i> <span>ApplierContainer列表</span>
						</a>
					</li>
					<li class="orange">
						<a ui-sref="keepercontainer_list({})" title="KeeperContainer列表">
							<i class="ace-icon fa fa-list"></i> <span>KeeperContainer列表</span>
						</a>
					</li>
					<li class="orange">
						<a ui-sref="proxy_overview({})" title="Proxy列表">
							<i class="ace-icon fa fa-list"></i> <span>Proxy列表</span>
						</a>
					</li>
					<li class="orange">
						<a href="/#/route/overview?srcDcName&dstDcName" title="Route列表">
							<i class="ace-icon fa fa-list"></i> <span>Route列表</span>
						</a>
					</li>
					<li class="orange">
						<a ui-sref="repl_direction_list({})" title="复制方向列表">
							<i class="ace-icon fa fa-list"></i> <span>复制方向列表</span>
						</a>
					</li>
					<li class="grey">
						<a ui-sref="cluster_list({clusterName:'',dcName:'',type:''})" title="Cluster列表">
							<i class="ace-icon fa fa-info-circle"></i> <span>Cluster列表</span>
						</a>
					</li>
					<li class="grey">
						<a ui-sref="shard_list({})" title="问题Shard列表">
							<i class="ace-icon fa fa-info-circle"></i> <span>问题Shard列表</span>
						</a>
					</li>
					
					<li class="purple">
						<a data-toggle="dropdown" class="dropdown-toggle" href="" title="主机房迁移"> 
							<i class="ace-icon fa fa-gavel"></i> <span>主机房迁移</span>
						</a>
						<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
							<li>
								<a ui-sref="migration_index" title="主机房迁移">
								<i class="btn btn-xs no-hover btn-pink fa fa-bell"></i>
								<span>主机房迁移</span>
								<br/>
								</a>
							</li>
							<li>
								<a ui-sref="migration_event_list" title="迁移事件历史">
								<i class="btn btn-xs no-hover btn-purple fa fa-inbox"></i>
								<span>迁移事件历史</span>
								<br/>
								</a>
							</li>
						</ul>
					</li>
				
					<!--  <li class="green">
						<a data-toggle="dropdown" class="dropdown-toggle" href="" title="发送邮件"> 
							<i class="ace-icon fa fa-envelope"></i> <span>技术支持</span>
						</a>
					</li> -->

					<li class="dark-blue">
						<a data-toggle="dropdown" href="#" class="dropdown-toggle"> 
							<i class="ace-icon fa fa-coffee"></i> 
							<span class="user-info">
									<small>欢迎,</small>{{currentUser.userId}}
							</span> 
							<i class="ace-icon fa fa-caret-down"></i>
						</a>
						<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li>
								<a href="/console/user/logout"><i class="ace-icon fa fa-power-off"></i>
									注销
								</a>
							</li>
						</ul>
					</li>
				</ul>

			</div>

		</div>
	</div>
		</li>
		<li>
	<div class="navbar-form navbar-container">
		<div class="page-content">
			<div class="ace-settings-container" id="ace-settings-container">
				<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
					<i class="ace-icon fa fa-cog bigger-150"></i>
				</div>

				<div class="ace-settings-box clearfix" id="ace-settings-box">

					<div class="pull-left width-50">
						<!-- #section:basics/sidebar.options -->
						<div class="ace-settings-item">
							<label>
								<input ng-model="isAlertSystemOn" ng-checked="isAlertSystemOn" ng-true-value='true' ng-false-value='false' ng-change="preChangeConfig('alert.system.on', isAlertSystemOn)" name="switch-field-1" class="ace ace-switch btn-rotate custom" type="checkbox">
								<span class="lbl">alert system</span>
							</label>
						</div>

						<div class="ace-settings-item">
							<label>
								<input ng-model="isSentinelAutoProcOn" ng-true-value='true' ng-false-value='false' ng-change="preChangeConfig('sentinel.auto.process', isSentinelAutoProcOn)" name="switch-field-1"  class="ace ace-switch btn-rotate custom" type="checkbox">
								<span class="lbl"> sentinel auto process</span>
							</label>
						</div>

						<!-- /section:basics/sidebar.options -->
					</div><!-- /.pull-left -->
				</div><!-- /.ace-settings-box -->
			</div>
		</div>
	</div>
		</li>
	</ul>

	<div class="main-container" ng-controller="IndexCtl">

		<div class="main-content" style="padding-top: 25px;" ui-view>
		</div>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> 
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div>

	<xpipeconfirmdialog xpipe-dialog-id="'changeConfigConfirm'" xpipe-title="'更改设置'"
						xpipe-detail="'您确定对下面设置进行更改吗?'"
						xpipe-show-cancel-btn="true"
						xpipe-confirm="changeConfig"
						xpipe-cancel="updateConfig"
	></xpipeconfirmdialog>

	<script src='./vendor/js/jquery.min.js'></script>
	<script src="./vendor/js/ace-extra.min.js"></script>

	<script src="./vendor/js/bootstrap.min.js"></script>
	<script src="./vendor/js/ace-elements.min.js"></script>
	<script src="./vendor/js/ace.min.js"></script>

	<script src="./vendor/js/chosen.jquery.min.js"></script>

	<script src="./vendor/js/lodash.min.js"></script>

	<script src="./vendor/js/typeahead-bs2.min.js"></script>
	<script src="./vendor/js/jquery.dataTables.min.js"></script>
	<script src="./vendor/js/jquery.dataTables.bootstrap.js"></script>

    <script src="./dist/bundle.js?20210527171354"></script>
	<script src="//webresint.ctripcorp.com/ares2/infosec/ifs/*/default/lab.min.js?expires=1s"></script>

</body>
</html>
