<div class="modal fade" id="{{dialogId}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header panel-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        ng-click="cancel()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <pre style="color:red;font-weight:bold;font-size:20px">{{detail}}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="showCancelBtn"
                        ng-click="cancel()">
                    取消</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                        ng-click="confirm()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
