<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info" monitorInterval="5" packages="com.ctrip.xpipe.utils">

    <appenders>
        <console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}][%p][%t][%C{1}]%m%n"/>
        </console>

        <RollingFile name="rollingFileInfo" fileName="target/metaserver.log"
                     filePattern="target/metaserver-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}][%p][%t][%C{1}]%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

    </appenders>

    <loggers>
        <!--过滤掉spring和hibernate的一些无用的debug信息-->
        <logger name="org.springframework" level="INFO">
        </logger>
        <logger name="org.hibernate" level="INFO">
        </logger>
        <logger name="io.netty" level="INFO"/>
        <logger name="com.ctrip.xpipe.redis.meta.server.cluster.impl.AbstractClusterServers" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="console"/>
            <appender-ref ref="rollingFileInfo"/>
        </root>
    </loggers>

</configuration>