<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">Cluster List</h3>

        <div class="table-responsive">
            <table id="cluster-list" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center">
                        <label>
                            <input type="checkbox" class="ace"/>
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th>Name</th>
                    <th>Active DC</th>
                    <th>Last Modified Time</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="cluster in clusters">
                    <td class="center">
                        <label>
                            <input type="checkbox" class="ace"/>
                            <span class="lbl"></span>
                        </label>
                    </td>

                    <td>
                        <a href="/#/cluster?clusterName={{cluster.clusterName}}" ng-bind="cluster.clusterName"></a>
                    </td>
                    <td ng-bind="cluster.activedcId"></td>
                    <td ng-bind="cluster.clusterLastModifiedTime"></td>
                    <td ng-bind="cluster.clusterDescription"></td>

                    <td class="hidden-480">
                        <span class="label label-sm label-warning">Expiring</span>
                    </td>
                    <td>
                        <a ng-click="deleteCluster(cluster)">删除</a> &nbsp;
                        <a href="/#/cluster_form?clusterName={{cluster.clusterName}}">更新</a>
                    </td>

                </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div>




