<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#" ng-bind="cluster.baseInfo.clusterId"></a>
        </li>
    </ul>

    <div class="nav-search" id="nav-search">
        <form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ." class="nav-search-input" id="nav-search-input"
                                       autocomplete="off"/>
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
        </form>
    </div>
</div>

<div class="page-content">
    <div class="tabbable">
        <ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
            <li ng-repeat="dc in cluster.dcs" ng-class="{'active': dcActiveTab == dc.baseInfo.dcId}"
                ng-click="switchDc(dc)">
                <a data-toggle="tab">
                    <i class="blue ace-icon fa fa-question-circle bigger-120"></i>
                    {{dc.baseInfo.dcId}}
                </a>
            </li>

        </ul>

        <div class="tab-content no-border padding-24">
            <div ng-repeat="dc in cluster.dcs" ng-show="dcActiveTab == dc.baseInfo.dcId"
                 class="tab-pane fade in active">
                <div class="col-xs-12">
                    <div class="widget-box transparent" ng-repeat="shard in dc.shards">
                        <div class="widget-header widget-header-flat">
                            <h4 class="widget-title lighter">
                                <i class="ace-icon fa fa-star orange"></i>
                                {{shard.baseInfo.shardId}}
                            </h4>

                            <div class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                <table class="table table-bordered table-striped">
                                    <thead class="thin-border-bottom">
                                    <tr>
                                        <th>
                                            <i class="ace-icon fa fa-caret-right blue"></i>REDIS_ID
                                        </th>
                                        <th>
                                            <i class="ace-icon fa fa-caret-right blue"></i>IP
                                        </th>
                                        <th>
                                            <i class="ace-icon fa fa-caret-right blue"></i>PORT
                                        </th>
                                        <th>
                                            <i class="ace-icon fa fa-caret-right blue"></i>ROLE
                                        </th>
                                        <th class="hidden-480">
                                            <i class="ace-icon fa fa-caret-right blue"></i>ACTIVE
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="redis in shard.redises">
                                        <td ng-bind="redis.id"></td>
                                        <td ng-bind="redis.ip">
                                        </td>
                                        <td ng-bind="redis.port">
                                        </td>
                                        <td ng-bind="redis.role">
                                        </td>
                                        <td class="hidden-480">
                                                                <span class="label label-info arrowed-right arrowed-in"
                                                                      ng-if="redis.active">RUNNING</span>
                                                                <span class="label label-warning label-sm"
                                                                      ng-if="!redis.active">FAILED</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
