<div class="col-md-12">
    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="row">
                <div class="col-md-6">cluster list</div>
                <div class="col-md-6 text-right">
                    <a type="button" class="btn btn-primary btn-sm"
                    href="/#/cluster_form?clusterName=&type=create">创建Cluster</a>
                </div>
            </div>
        </header>

        <table ng-table="tableParams" show-filter="true" class="table table-striped table-hover">
            <tr ng-repeat="cluster in $data">
                <td data-title="'cluster'" filter="{ clusterName : 'text' }">
                    <a href="/#/cluster_form?clusterName={{cluster.clusterName}}&type=retrieve">{{ cluster.clusterName }}</a>
                </td>
                <td data-title="'dc'" ng-bind="getDcName({{cluster.activedcId}})"></td>
                <td data-title="'Description'" ng-bind="cluster.clusterDescription"></td>
                <td data-title="'Operations'">
                    <a href="/#/cluster_dc?clusterName={{cluster.clusterName}}" class="btn btn-info btn-xs">DC</a>&nbsp;
                    <a href="/#/cluster_shards?clusterName={{cluster.clusterName}}" class="btn btn-info btn-xs">Shards</a>&nbsp;
                    <a href="/#/cluster_dc_shards?clusterName={{cluster.clusterName}}" class="btn btn-info btn-xs">Detail</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>




