
<div class="col-md-12">
    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <span class="col-sm-2"> OverloadKeeperContainer </span>
                    <span ng-if="operateType == 'migrating'"> >> 迁移中 </span>
                </div>

                <div class="col-md-6 text-right">
                    <a ng-if="operateType == 'detail'"  class="btn btn-danger" type="button" ng-click="beginMigrateKeepers()">
                        迁移
                    </a>
                    <a ng-if="operateType == 'migrating'"  class="btn btn-danger" type="button" ng-click="terminateMigrateKeepers()">
                        终止
                    </a>
                </div>
            </div>
        </header>

        <table ng-if="operateType == 'detail'" ng-table="tableParams" show-filter="true" class="table table-striped table-hover">
            <tr ng-repeat="info in $data">
                <td data-title="'确认框'">
                <td>
                    <input type="checkbox"  ng-checked="info.selected" ng-click="info.selected = !info.selected">
                </td>
                </td>

                <td data-title="'ip'" filter="{ 'srcKeeperContainer.keeperIp': 'text'}">{{info.srcKeeperContainer.keeperIp}}</td>
                <td data-title="'dc'" >{{info.srcKeeperContainer.dcName}}</td>
                <td data-title="'上游redis数据量'" >{{info.srcKeeperContainer.totalRedisUsedMemory}}</td>
                <td data-title="'流量'">{{info.srcKeeperContainer.totalInputFlow}}</td>
                <td data-title="'待迁移的分片数'" >{{info.migrateKeeperCount}}</td>
                <td data-title="'tagetKeeperContainer'" >{{info.targetKeeperContainer.keeperIp}}</td>
                <td data-title="'上游redis数据量'" >{{info.targetKeeperContainer.dcName}}<</td>
                <td data-title="'流量'">{{info.targetKeeperContainer.totalRedisUsedMemory}}</td>
            </tr>
        </table>

    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
