
<div class="col-md-12">
    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <span class="col-sm-2"> KeeperContainer </span>
                </div>

                <div class="col-md-6 text-right">
                    <a type="button" class="btn btn-info btn-xs" href="/#/keepercontainer_form?id=&type=create">AddKeepercontainer</a>
                </div>
            </div>
        </header>

        <table ng-table="tableParams" show-filter="true" class="table table-striped table-hover">
            <tr ng-repeat="info in $data">
                <td data-title="'id'" filter="{ 'info.id': 'text'}">{{info.id}}</td>
                <td data-title="'address'" filter="{ 'addr.host': 'text'}">{{info.addr.host}}:{{info.addr.port}}</td>
                <td data-title="'dc'" filter="{ dcName: 'text'}" sortable="'dcName'">{{info.dcName}}</td>
                <td data-title="'org'" filter="{ orgName: 'text'}" sortable="'orgName'">{{info.orgName}}</td>
                <td data-title="'active'" filter="{ active: 'text'}">{{info.active}}</td>
                <td data-title="'az'" filter="{ azName: 'text'}" sortable="'azName'">{{info.azName}}</td>
                <td data-title="'keeper'" sortable="'keeperCount'">{{info.keeperCount}}</td>
                <td data-title="'cluster'" sortable="'clusterCount'">
                    <a ui-sref="cluster_list({ keepercontainer: info.id })">{{info.clusterCount}}</a>
                </td>
                <td data-title="'shard'" sortable="'shardCount'">{{info.shardCount}}</td>
                <td data-title="'操作'" >
                    <a href="/#/keeper_migration?keepercontainer={{info.id}}" class="btn btn-warning btn-xs" type="button">迁移</a>&nbsp;
                    <a href="/#/keepercontainer_form?id={{info.id}}&type=update" class="btn btn-warning btn-xs" type="button">修改</a>&nbsp;
                </td>
            </tr>
        </table>

    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
