<div id="sidebar" class="sidebar responsive sidebar-fixed" style="margin-top: -25px;width : 200px">
	<md-content>
		<md-list style="height: 900px; overflow-y: scroll;" flex>
			<div ng-repeat="migrationCluster in eventDetails" ui-sref=".details({migrationCluster: migrationCluster})">
				<md-list-item  class="md-1-line">
					<a  class="dropdown-toggle">
						<i class="menu-icon fa fa-caret-right"></i> {{ migrationCluster.migrationCluster.clusterName }}
						<div>
						<span class="label label-sm" ng-class="{
							'label-default':migrationCluster.migrationCluster.statusType == 'Init',
							'label-info':migrationCluster.migrationCluster.statusType == 'Processing',
							'label-success':migrationCluster.migrationCluster.statusType == 'Success',
							'label-danger':migrationCluster.migrationCluster.statusType == 'Fail'
							}">{{migrationCluster.migrationCluster.status}}</span>
						</div>
					</a>
				</md-list-item>
			</div>
		</md-list>
	</md-content>
</div>

<div ui-view style="margin-left:200px"></div>

<a href="#" id="btn-scroll-up"
	class="btn-scroll-up btn btn-sm btn-inverse"> <i
	class="icon-double-angle-up icon-only bigger-110"></i>
</a>