<div class="col-md-12">
	<h3 class="header smaller lighter blue">
		<span>主机房迁移</span>
	</h3>

	<div class="panel panel-primary">
		<header class="panel-heading">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<md-checkbox class="border-white" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()"></md-checkbox>
					<span ng-if="isChecked()">取消全选</span> <span ng-if="!isChecked()">全选</span>
				</div>
				<div class="col-md-3 text-center">
					<md-select ng-model="sourceDc" class="md-no-underline color-white radius-border-fat no-margin" required placeholder="源机房">
						<md-option ng-repeat="dc in dcs" value="{{dc}}">{{dc}}</md-option>
					</md-select>
				</div>
				<div class="col-md-5 text-right">
					<a type="button" class="btn btn-primary radius-border-fat" href=""><strong>迁移</strong></a>
					&nbsp&nbsp 
					<a type="button" class="btn btn-danger radius-border-fat" href="/#/migration_event_list"><strong>取消</strong></a>
				</div>
				<div class="col-md-1"></div>
			</div>
		</header>

		<table ng-table="tableParams" class="table table-striped table-hover">
			<tr ng-repeat="cluster in $data">
				<td data-title="'确认框'">
					<md-checkbox ng-checked="exists(cluster, selected)" ng-click="toggle(cluster, selected)"></md-checkbox>
				</td>
				<td data-title="'cluster'">{{cluster.clusterName}}</td>
				<td data-title="'目标主机房'">
					<md-select ng-model="cluster.targetDc" class="md-no-underline no-margin radius-border-thin" required placeholder="目标主机房">
						<md-option ng-repeat="dc in cluster.dcs" value="{{dc}}">{{dc}}</md-option>
					</md-select>
				</td>
			</tr>
		</table>
	</div>
</div>

<a href="#" id="btn-scroll-up"
	class="btn-scroll-up btn btn-sm btn-inverse"> <i
	class="icon-double-angle-up icon-only bigger-110"></i>
</a>