<div id="sidebar" class="sidebar responsive sidebar-fixed" style="margin-top: -25px;width : 200px">
	<ul class="nav nav-list">
		<li ng-repeat="migrationCluster in eventDetails">
			<a ui-sref=".details({migrationCluster: migrationCluster})" class="dropdown-toggle"> 
				<i class="menu-icon fa fa-caret-right"></i> {{ migrationCluster.migrationCluster.clusterName }}
				<div>
					<span class="label label-sm" ng-class="{
						'label-default':migrationCluster.migrationCluster.statusType == 'Init',
						'label-info':migrationCluster.migrationCluster.statusType == 'Processing',
						'label-success':migrationCluster.migrationCluster.statusType == 'Success',
						'label-danger':migrationCluster.migrationCluster.statusType == 'Fail'
						}">{{migrationCluster.migrationCluster.status}}</span>
				</div>
			</a> 
		</li>
	</ul>
</div>

<div ui-view style="margin-left:200px"></div>

<a href="#" id="btn-scroll-up"
	class="btn-scroll-up btn btn-sm btn-inverse"> <i
	class="icon-double-angle-up icon-only bigger-110"></i>
</a>