<div id="sidebar" class="sidebar responsive sidebar-fixed" style="margin-top: -25px;">
	<ul class="nav nav-list">
		<li class="active">
			<a href="" class="dropdown-toggle"> 
				<i class="menu-icon fa fa-caret-right"></i> Cluster1 
				<b class="arrow fa fa-angle-down"></b>
			</a> 
			<b class="arrow"></b>

			<ul class="submenu">
				<li class="">
					<a ui-sref=".details" class="dropdown-toggle"> 
						<i class="menu-icon fa fa-pencil orange"></i> Shard1 
					</a> 
					<b class="arrow"></b>
				</li>
				<li class="">
					<a href="" class="dropdown-toggle"> 
						<i class="menu-icon fa fa-pencil orange"></i> Shard2 
					</a> 
					<b class="arrow"></b>
				</li>
			</ul>
		</li>
	</ul>
</div>

<div ui-view style="margin-left:190px"></div>

<a href="#" id="btn-scroll-up"
	class="btn-scroll-up btn btn-sm btn-inverse"> <i
	class="icon-double-angle-up icon-only bigger-110"></i>
</a>