<div class="col-xs-12">
    <div class="panel panel-primary" style="margin-top: 15px;">
        <header class="panel-heading">
            <div class="row">
                <div class="col-md-6">{{migrationCluster.migrationCluster.cluster.clusterName}}</div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
					<a type="button" class="btn btn-primary radius-border-fat" ng-click="continueMigrationCluster( migrationCluster.migrationCluster.migrationEventId,migrationCluster.migrationCluster.cluster.id)">
                    <strong ng-if="migrationCluster.migrationCluster.status == 'Initiated'">执行</strong>
                    <strong ng-if="migrationCluster.migrationCluster.status != 'Initiated'">继续</strong>
                    </a>
					&nbsp&nbsp 
					<a type="button" class="btn btn-danger radius-border-fat" href="/#/migration_event_list"><strong>取消</strong></a>
				</div>
            </div>
        </header>
        
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
            	<th>
                    Shard
                </th>
                <th>
                    迁移检测
                </th>
                <th>
                    原主机房预迁移
                </th>
                <th>
                    目标主机房迁移
                </th>
                <th>
                	其他机房迁移
                </th>
                <th>
                	结果
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="migrationShard in migrationCluster.migrationShards">
                <td>{{migrationShard.migrationShard.shard.shardName}}</td>
                <td>
                <span class="label label-sm label-success" ng-if="migrationShard.status.steps.CHECK.true">Success</span>
                <span class="label label-sm label-danger" ng-if="migrationShard.status.steps.CHECK.false">Failed</span>
                <span class="label label-sm label-default" ng-if="!migrationShard.status.steps.CHECK">Waiting</span>
                </td>
                <td>
                <span class="label label-sm label-success" ng-if="migrationShard.status.steps.MIGRATE_PREVIOUS_PRIMARY_DC.true">Success</span>
                <span class="label label-sm label-danger" ng-if="migrationShard.status.steps.MIGRATE_PREVIOUS_PRIMARY_DC.false">Failed</span>
                <span class="label label-sm label-default" ng-if="!migrationShard.status.steps.MIGRATE_PREVIOUS_PRIMARY_DC">Waiting</span>
                </td>
                <td>
                <span class="label label-sm label-success" ng-if="migrationShard.status.steps.MIGRATE_NEW_PRIMARY_DC.true">Success</span>
                <span class="label label-sm label-danger" ng-if="migrationShard.status.steps.MIGRATE_NEW_PRIMARY_DC.false">Failed</span>
                <span class="label label-sm label-default" ng-if="!migrationShard.status.steps.MIGRATE_NEW_PRIMARY_DC">Waiting</span>
                </td>
                <td>
                <span class="label label-sm label-success" ng-if="migrationShard.status.steps.MIGRATE_OTHER_DC.true">Success</span>
                <span class="label label-sm label-danger" ng-if="migrationShard.status.steps.MIGRATE_OTHER_DC.false">Failed</span>
                <span class="label label-sm label-default" ng-if="!migrationShard.status.steps.MIGRATE_OTHER_DC">Waiting</span>
                </td>
                <td>
                <span class="label label-sm label-success" ng-if="migrationShard.status.steps.MIGRATE.true">Success</span>
                <span class="label label-sm label-danger" ng-if="migrationShard.status.steps.MIGRATE.false">Failed</span>
                <span class="label label-sm label-default" ng-if="!migrationShard.status.steps.MIGRATE">Waiting</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>