
<div class="col-md-12">
    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <span class="col-sm-2"> 复制方向 </span>
                </div>
            </div>
        </header>

        <table ng-table="tableParams" show-filter="true" class="table table-striped table-hover">
            <tr ng-repeat="info in $data">
                <td data-title="'id'" filter="{ 'id': 'text'}">
                    {{info.id}}
                </td>

                <td data-title="'clusterId'" filter="{clusterId: 'text'}">
                    {{info.clusterId}}
                </td>

                <td data-title="'clusterName'" filter="{clusterName: 'text'}">
                    <a href="/#/cluster_list?clusterName={{info.clusterName}}">{{info.clusterName}}</a>
                </td>

                <td data-title="'源Dc'" filter="{ srcDcName: 'text'}" >
                    {{info.srcDcName}}
                </td>

                <td data-title="'上游Dc'" filter="{ fromDcName: 'text'}" >
                    {{info.fromDcName}}
                </td>

                <td data-title="'下游Dc'" filter="{ toDcName: 'text'}">
                    {{info.toDcName}}
                </td>

                <td data-title="'目标集群'" filter="{ targetClusterName: 'text'}">
                    {{info.targetClusterName}}
                </td>

                <td data-title="'srcShards'" sortable="'srcShardCount'">
                    <a href="/#/cluster_dc_shards/{{info.clusterName}}/{{info.srcDcName}}">{{info.srcShardCount}}</a>
                </td>

                <td data-title="'toShards'" sortable="'toShardCount'">
                    <a href="/#/cluster_dc_shards/{{info.clusterName}}/{{info.toDcName}}">{{info.toShardCount}}</a>
                </td>

                <td data-title="'keepers'" sortable="'keeperCount'">
                    <a href="/#/cluster_dc_shards/{{info.clusterName}}/{{info.srcDcName}}">{{info.keeperCount}}</a>
                </td>

                <td data-title="'appliers'" sortable="'applierCount'">
                    <a href="/#/cluster_dc_shards/{{info.clusterName}}/{{info.toDcName}}">{{info.applierCount}}</a>
                </td>
            </tr>
        </table>

    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
