
<div class="col-md-12">
    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <span>Route List</span>
                    <span> > </span>
                    <span>方向信息</span>
                </div>
            </div>
        </header>
        <div style="height:35px">
            <ul style="float:left" class="nav nav-tabs tab-size-bigger">
                <li ng-repeat="tag in tags" ng-class="{'active' : currentTag == tag}">
                    <a ng-click="switchTag(tag)" data-toggle="tab">{{tag}}</a>
                </li>
            </ul>
        </div>

        <table ng-table="tableParams" show-filter="true" class="table table-striped table-hover" ng-table-columns-binding="cols">
            <tr ng-repeat="routeDirectionInfo in $data">
                <td data-title="'方向'" >{{routeDirectionInfo.srcDcName}}---->{{routeDirectionInfo.destDcName}}</td>

                <td data-title="'active_route'" ng-bind="routeDirectionInfo.activeRouteNum"></td>
                <!--                <td data-title="'public_route'" class="{{route.public == true ? 'glyphicon glyphicon-ok-sign green' : 'glyphicon glyphicon-remove-sign red'}}"></td>-->
                <td data-title="'public_route'" ng-bind="routeDirectionInfo.publicRouteNum"></td>
                <td data-title="'操作'">
                    <a type="button" class="btn btn-info btn-xs" href="/#/route/overview?srcDcName={{routeDirectionInfo.srcDcName}}&dstDcName={{routeDirectionInfo.destDcName}}">详情</a>
                    <a type="button" class="btn btn-info btn-xs" href="/#/route_switch?tag=&srcDcName={{routeDirectionInfo.srcDcName}}&dstDcName={{routeDirectionInfo.destDcName}}">
                        切换
                    </a>
                </td>
        </table>

    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
