
<div class="col-md-12">
    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <span>Route List</span>
                    <span> > </span>
                    <span>Route切换</span>
                </div>
                <div class="col-md-6 text-right">
                </div>
            </div>
        </header>
        <div style="height:35px">
            <ul style="float:left" class="nav nav-tabs tab-size-bigger">
                <li ng-repeat="tag in tags" ng-class="{'active' : currentTag == tag}">
                    <a ng-click="switchTag(tag)" data-toggle="tab">{{tag}}</a>
                </li>
            </ul>
        </div>

        <form ng-submit="preDoSwitchRoute()">
            <table ng-table="tableParams" show-filter="true" class="table table-striped table-hover" ng-table-columns-binding="cols">
                <tr ng-repeat="route in $data">
                    <td data-title="'是否使用'" style= "margin: 6pt 0pt 0pt 0cm;" class="{{route.public == true ? 'icon-span icon-span-select' : 'icon-span'}}"
                        ng-click="route.public = !route.public">

                    </td>
                    <td data-title="'route_id'" ng-bind="route.id"></td>
                    <td data-title="'org_name'" filter="{ orgName: 'text'}" sortable="'orgName'" ng-bind="route.orgName"></td>
                    <td data-title="'src_dcName'" ng-bind="route.srcDcName"></td>
                    <td data-title="'src_proxies'">
                    <span>
                        <p align="center" style= "margin: 0cm 0cm 0pt 0cm;" ng-repeat="proxy in route.srcProxies">{{proxy}}</p>
                    </span>
                    </td>
                    <td data-title="'optional_info'">
                    <span>
                        <p align="center" style= "margin: 0cm 0cm 0pt 0cm;" ng-repeat="proxy in route.optionalProxies">{{proxy}}</p>
                    </span>
                    </td>
                    <td data-title="'dst_dcName'" ng-bind="route.dstDcName"></td>
                    <td data-title="'dst_proxies'">
                    <span>
                        <p align="center" style= "margin: 0cm 0cm 0pt 0cm;" ng-repeat="proxy in route.dstProxies">{{proxy}}</p>
                    </span>
                    </td>
                    <td data-title="'desc'" ng-bind="route.description"></td>
            </table>

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"></label>
                <div class="col-sm-7">
                    <button class="btn btn-info" type="submit">
                        <i class="icon-ok bigger-110"></i>
                        提交
                    </button>
                    <a href="/#/route_direction/route" class="btn btn-warning"
                       type="button">
                        返回
                    </a>
                </div>
            </div>
        </form>

    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>

<xpipeconfirmdialog xpipe-dialog-id="'doSwitchrConfirm'" xpipe-title="'切换路由'"
                    xpipe-detail="'您确定要切换该方向上的路由吗）?'"
                    xpipe-show-cancel-btn="true" xpipe-confirm="doSwtichRoute"></xpipeconfirmdialog>