
<div class="col-md-12">
    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <span>Route List</span>
                    <span> > </span>
                    <span>Route信息</span>
                </div>
                <div class="col-md-6 text-right">
                    <a type="button" class="btn btn-info btn-xs" href="/#/route_form?routeId=&type=create">AddRoute</a>
                    <a type="button" class="btn btn-info btn-xs" href="/#/route_direction/route">DirectionInfo</a>
                    <a type="button" class="btn btn-info btn-xs" href="/api/route/unexpected-usage-infos/all" target="_blank">UnexpectedUsageInfo</a>
                </div>
            </div>
        </header>
        <div style="height:35px">
            <ul style="float:left" class="nav nav-tabs tab-size-bigger">
                <li ng-repeat="tag in tags" ng-class="{'active' : currentTag == tag}">
                    <a ng-click="switchTag(tag)" data-toggle="tab">{{tag}}</a>
                </li>
            </ul>
        </div>

        <table ng-table="tableParams" show-filter="true" class="table table-striped table-hover" ng-table-columns-binding="cols">
            <tr ng-repeat="route in $data">
                <td data-title="'route_id'" ng-bind="route.id"></td>
                <td data-title="'org_name'" filter="{ orgName: 'text'}" sortable="'orgName'" ng-bind="route.orgName"></td>
                <td data-title="'public'" class="{{route.public == true ? 'glyphicon glyphicon-ok-sign green' : 'glyphicon glyphicon-remove-sign red'}}"></td>
                <td data-title="'src_dcName'" filter="{srcDcName: 'text'}" sortable="'srcDcName'" ng-bind="route.srcDcName"></td>
                <td data-title="'src_proxies'">
                    <span>
                        <p align="center"  style= "margin: 0cm 0cm 0pt 0cm;" ng-repeat="proxy in route.srcProxies">{{proxy}}</p>
                    </span>
                </td>
                <td data-title="'optional_info'">
                    <span>
                        <p align="center" style= "margin: 0cm 0cm 0pt 0cm;" ng-repeat="proxy in route.optionalProxies">{{proxy}}</p>
                    </span>
                </td>
                <td data-title="'dst_dcName'" filter="{dstDcName: 'text'}" sortable="'dstDcName'" ng-bind="route.dstDcName"></td>
                <td data-title="'dst_proxies'">
                    <span>
                        <p align="center" style= "margin: 0cm 0cm 0pt 0cm;" ng-repeat="proxy in route.dstProxies">{{proxy}}</p>
                    </span>
                </td>
                <td data-title="'desc'" ng-bind="route.description"></td>
                <td data-title="'操作'">
                    <a href="/#/route_form?routeId={{route.id}}&type=update" class="btn btn-warning btn-xs" type="button">修改</a>&nbsp;
                </td>
        </table>

    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
