<div class="col-md-12">
    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    Shard查询
                </div>
            </div>
        </header>
        <div style="height: 60px; float: right">
            <md-input-container>
                <label>Shard ReplId</label>
                <input type="text" ng-model="replId">
            </md-input-container>
            <md-input-container style = "margin-left: 19px;">
                <label>Shard Name</label>
                <input type="text" ng-model="shardName">
            </md-input-container>
            <a type="button" class="btn btn-info btn-xs" style="margin-left: 19px; margin-right: 20px; margin-top: -31px" ng-click="searchShard()">搜索</a>
        </div>
        <table ng-table="tableParams" show-filter="false" class="table table-striped table-hover" style="min-height: 50px">
            <tr ng-repeat="info in $data">
                <td data-title="'ShardId'" style="height: 42px">{{info.shardId}}</td>
                <td data-title="'ShardName'">{{info.shardName}}</td>
                <td data-title="'cluster'">
                    <a href="/#/cluster_dc_shards/{{info.clusterName}}/">{{ info.clusterName }}</a>
                </td>
                <td data-title="'ClusterType'">{{info.clusterType}}</td>
                <td data-title="'ClusterAdminEmails'">{{info.clusterAdminEmails}}</td>
                <td data-title="'ClusterDescription'">{{info.clusterDescription}}</td>
            </tr>
        </table>

    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>