<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info" shutdownHook="disable" monitorInterval="5"   packages="com.ctrip.xpipe.utils.log">

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}][%p][%t][%c{1}]%m%xpEx{filters(org.junit,org.eclipse.jdt.internal,org.apache.maven.surefire,org.mockito)}%n"/>
        </console>

        <RollingFile name="RollingFileInfo" fileName="target/applogs/xpipe/xpipe-test-${sys:server.port:-start}.log"
                     filePattern="target/applogs/xpipe/xpipe-test-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}][%p][%t][%c{1}]%m%xpEx{filters(org.junit,org.eclipse.jdt.internal,org.apache.maven.surefire,org.mockito)}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

    </appenders>

    <loggers>
        <logger name="org.springframework" level="WARN"/>
        <logger name="io.netty" level="INFO"/>
        <logger name="org.apache.zookeeper.server.ZooKeeperServer" level="WARN"/>
        <logger name="org.apache.zookeeper.ZooKeeper" level="WARN"/>
		<logger name="com.ctrip.xpipe.lifecycle.DefaultLifecycleState" level="WARN"/>
		<logger name="com.ctrip.xpipe.redis.keeper.monitor.CommandDelay" level="INFO"/>
		
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileInfo"/>
        </root>
    </loggers>

</configuration>
