body {
	background-color: white;
}

table, th {
	text-align: center;
}

a {
	cursor: pointer;
}

.panel-heading {
	font-size: 20px;
}

.modal-dialog .modal-title {
	text-align: center;
	font-size: 18px;
}

.radius-border-fat {
	border-radius : 10px;
	border-style : solid;
	border-width : 3px;
}
.radius-border-thin {
	border-radius : 10px;
	border-style : solid;
	border-width : 1px;
}

.hickwall {
	display : inline-block;
	background-image : url(../images/grafana_icon.svg);
	background-repeat : no-repeat;
	background-position : center;
	background-size : cover;
	width : 18px;
	height : 18px;
}

.hickwall_td {
	width: 60px;
}