<entry>
    <title><![CDATA[${title}]]></title>
    <bodyContent>
        <![CDATA[
        <h5 id="toc_0">[XPipe 周期性异常告警] <font color="gray">30分钟内的报警信息集合</font></h5>
        环境信息: <font color="red">[${environment}]</font><br/>
        [时间: ${time}]<br/>
        XPipe相关事宜请联系 [$xpipeAdminEmails]<br/>
        <hr>
        <strong>发送自XPipe Console，源 IP 地址： ${localIpAddr}</strong>

            #foreach($entity in $redisAlerts.entrySet())

            <hr>
            <h6 id="toc_1">$entity.key.name() : $!entity.key.detailDesc().title</h6>
            <blockquote>
                <p>$!entity.key.detailDesc().desc</p>
            </blockquote>

            <table border="1">
                <thead>
                <tr>
                    <th>报错类型</th>
                    <th>Redis DC</th>
                    <th>Redis集群</th>
                    <th>Redis分片</th>
                    <th>Redis-IP</th>
                    <th>Redis-Port</th>
                    <th>错误信息</th>
                    <th>最近一次报错时间</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($redisAlert in $entity.value)
                    <tr>
                        <td>$!redisAlert.getAlertType()</td>
                        <td>$!redisAlert.getDc()</td>
                        <td><a href=$xpipeurl/#/cluster_dc_shards/$!redisAlert.getClusterId()/$!redisAlert.getDc()>$!redisAlert.getClusterId()</a></td>
                        <td>$!redisAlert.getShardId()</td>
                        <td>$!redisAlert.getHostPort().getHost()</td>
                        <td>$!redisAlert.getHostPort().getPort()</td>
                        <td>$!redisAlert.getMessage()</td>
                        <td>$dateTimeUtils.timeAsString($redisAlert.getDate())</td>
                    </tr>
                    #end
                </tbody>
            </table>
            #end
            ]]>
</bodyContent>
</entry>