<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO"  packages="com.ctrip.xpipe.utils.log">

    <Properties>
        <Property name="appName">xpipe-console</Property>
        <Property name="delayLogName">redis-delay</Property>
    </Properties>
    <Scripts>
        <Script name="filter.gv" language="js">
            java.lang.System.getProperty('log.console.close') == 'true'
        </Script>
    </Scripts>

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}][%p][%t][%c{1}]%m%xpEx{filters(org.junit,org.eclipse.jdt.internal,org.apache.maven.surefire,org.mockito,org.apache.catalina,org.springframework.web,com.dianping.cat)}%n"/>
            <ScriptFilter onMatch="DENY" onMisMatch="ACCEPT">
                <ScriptRef ref="filter.gv" />
            </ScriptFilter>
        </console>

        <RollingFile name="RollingFileInfo" fileName="target/applogs/xpipe-console.log"
                     filePattern="target/applogs/xpipe-console-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}][%p][%t][%c{1}]%m%xpEx{filters(org.junit,org.eclipse.jdt.internal,org.apache.maven.surefire,org.mockito,org.apache.catalina,org.springframework.web,com.dianping.cat)}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="rollingRedisDelay" fileName="target/applogs/${delayLogName}.log"
                     filePattern="target/applogs/${delayLogName}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}]%t%m%xpEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="target/applogs" maxDepth="2">
                    <IfFileName glob="${delayLogName}*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </appenders>

    <loggers>
        <!--过滤掉spring和hibernate的一些无用的debug信息-->
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.hibernate" level="INFO"/>
        <logger name="io.netty" level="INFO"/>
        <logger name="org.apache" level="WARN"/>

        <logger name="com.ctrip.xpipe.lifecycle.DefaultLifecycleState" level="WARN"/>
        <logger name="com.ctrip.xpipe.lifecycle.DefaultRegistry" level="WARN"/>

        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileInfo"/>
        </root>
    </loggers>

</configuration >
